// color variables
// #08fdd8;
body{
    background-color: #1d1d1d;
}
$primary-color              :             #7510F7;  
$heading-color              :             #141c3a;
$seconday-color             :             #08fdd8;
$btn-color                  :             #ff4f00;
$background-color           :            #1d1d1d;
$white-color                :             #ffffff;
$seconday-white-color       :              #ddd;
$input-bg                   :               #2b2b2b;
